*{
    margin: 0;
    padding: 0;
}

.header-first{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100px;
    padding-top: 10px;
    background-color: rgb(122, 85, 253);
    color: azure;
}